/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Color de fondo general */
}

header {
    background-color: #333; /* Color de fondo del encabezado */
    color: white;
    padding: 20px;
    text-align: center;
}
.h2-subtitle {
	text-align: center;
}

#inicio-container {
  width: 90%;
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#logo {
    width: 80px; /* Ajusta el tamaño del logo para móviles */
    max-width: 100%; /* Asegura que el logo no se desborde */
}
#startButton {
	padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}
/* Estilos del menú */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

.dropdown {
    position: relative; /* Para el menú desplegable */
    display: inline-block; /* Mostrar en línea */
}

.dropbtn {
    background-color: #464646; /* Color de fondo del botón */
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    border: 1px solid white;
    cursor: pointer; 
    display: flex; /* Para alinear ícono y texto */
    align-items: center;
    opacity: 0.8;
}

.dropbtn i {
    margin-right: 5px; /* Espacio entre el ícono y el texto */
}

.dropdown-content {
    display: none; /* Ocultar por defecto */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1; /* Asegurar que el menú esté por encima */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1; /* Color de fondo al pasar el mouse */
}

.dropdown:hover .dropdown-content {
    display: block; /* Mostrar el menú al pasar el mouse */
}

#exitButton {
    background: none; 
    border: none; 
    cursor: pointer; 
    color: white; 
    font-size: 20px; 
}

#options.opciones_options {
    text-align: center;
}
.boton_reinicio {
	font-family: 'Dancing Script', serif;
    width: 88%;
    margin: 0 auto;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2em;
}

.boton_reinicio:hover {
    background-color: #981717; /* Color de fondo al pasar el ratón */
}

/* Contenedor principal del quiz y sus elementos */
#quiz-container {
    width: 90%;
    max-width: 700px;
    margin: 20px auto; /* Centra el contenedor */
    padding: 20px; /* Espaciado interno */
    background: #fff; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.icono-informativo {
    color: #007bff;  /* Color azul */
    margin-right: 5px; /* Espaciado a la derecha */
}

.text-mejoras {
	font-size: 0.8em;
}
/* Estilo para el título de la pregunta */
.question {
    font-size: 1rem;
	color: #333;
	margin-bottom: 20px;
	text-align: center;
	font-weight: normal;
}
.quiz-subtitle {
	width: 90%; /* O cualquier ancho deseado, como 800px */
    max-width: 700px; /* Limitar ancho máximo */
    margin: 20px auto; /* Centrar horizontalmente */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centrar texto dentro del contenedor */
    background-color: #fff; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(218, 23, 23, 0.50); /* Sombra ligera */
}
/* Estilo para las opciones */
.option {
    display: block;
    width: 90%; 
    margin: 10px auto;
    padding: 20px;
    background: #bb2424;
    color: #fff;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, box-shadow 0.3s;
}

.option:hover {
    background: #0984e3; 
}

.correct {
    background: #27ae60; 
    border: 1px solid #1e8449; 
}

.incorrect {
    background: #000; 
    border: 1px solid black;
}

/* Estilo para el pie de página */
footer {
    text-align: center; /* Centra texto en el pie de página */
    margin-top: 20px; /* Espacio superior */
    padding: 10px; /* Espacio alrededor */
    color: #777; /* Color de texto del pie de página */
}

/* Copyright */
.copyright {
    font-size: 0.7em;
    margin-top: 10px; /* Espaciado superior */
}

/* Estilos para los botones de navegación */
#navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 56%;
}

#prev-button, #next-button {
    padding: 10px 20px; /* Espaciado interno */
    background: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambio de cursor al pasar */
    transition: background 0.3s; /* Transición suave para el color de fondo */
}

#prev-button:hover, #next-button:hover {
    background: #0056b3; /* Color más oscuro al pasar el mouse */
}

#prev-button:disabled, #next-button:disabled {
    background: #bdc3c7; /* Color gris claro para botones deshabilitados */
    cursor: not-allowed; /* Cambio de cursor para indicar que no se puede hacer clic */
}
.feedback {
	width: 100%;
	text-align: center;
	color: #007bff;
}

/* Media Queries para mejorar la visualización en dispositivos móviles */
@media (max-width: 600px) {
    :root {
        --font-size-title: 1.5rem;
        --font-size-button: 14px;
        --padding-button: 8px;
    }

    #title {
        font-size: var(--font-size-title);
    }

    .dropbtn {
        font-size: var(--font-size-button);
        padding: var(--padding-button);
    }
}